body { background-image:url(../img/background.jpg); background-position:center top;}

.menu:hover{font-size:18px; font-family:Trebuchet MS,Futura, Arial,sans-serif; font-style:normal; font-weight:bold; text-decoration: none; color:#7FB11A}
.menu{font-size:18px; font-family:Trebuchet MS,Futura, Arial,sans-serif; font-style:normal; font-weight:bold; text-decoration: none; color:#7FB11A}

.menutexto:hover{font-size:14px; font-family:Trebuchet MS,Futura, Arial,sans-serif; font-style:normal; font-weight:normal; text-decoration: none; color:#3C3C3A}
.menutexto{font-size:14px; font-family:Trebuchet MS,Futura, Arial,sans-serif; font-style:normal; font-weight:normal; text-decoration: none; color:#3C3C3A}

.menupie:hover{font-size:12px; font-family:Trebuchet MS,Futura, Arial,sans-serif; font-style:normal; font-weight:normal; text-decoration: none; color:#ffffff}
.menupie{font-size:12px; font-family:Trebuchet MS,Futura, Arial,sans-serif; font-style:normal; font-weight:normal; text-decoration: none; color:#ffffff}

.linktope:hover{font-size:15px; font-family:Trebuchet MS,Futura, Arial,sans-serif; font-style:normal; font-weight:bold; text-decoration: none; color:#7FB11A}
.linktope{font-size:15px; font-family:Trebuchet MS,Futura, Arial,sans-serif; font-style:normal; font-weight:bold; text-decoration: none; color:#3C3C3A}

.linktopesel:hover{font-size:15px; font-family:Trebuchet MS,Futura, Arial,sans-serif; font-style:normal; font-weight:bold; text-decoration: none; color:#7FB11A}
.linktopesel{font-size:15px; font-family:Trebuchet MS,Futura, Arial,sans-serif; font-style:normal; font-weight:bold; text-decoration: none; color:#7FB11A}

.linkpie:hover{font-size:12px; font-family:Trebuchet MS,Futura, Arial,sans-serif; font-style:normal; font-weight:normal; text-decoration: none; color:#C8FDC8}
.linkpie{font-size:12px; font-family:Trebuchet MS,Futura, Arial,sans-serif; font-style:normal; font-weight:normal; text-decoration: none; color:#ffffff}

.buscador:hover{font-size:13px; font-family:Trebuchet MS,Futura, Arial,sans-serif; font-style:normal; font-weight:normal; text-decoration: none; color:#333333; background-color:#CCD3CC; width: 200px; border-top-style:none;border-right-style: none; border-bottom-style: none;border-left-style: none;}
.buscador{font-size:13px; font-family:Trebuchet MS,Futura, Arial,sans-serif; font-style:normal; font-weight:normal; text-decoration: none; color:#333333;  background-color:#CCD3CC; width: 200px; border-top-style:none;border-right-style: none; border-bottom-style: none;border-left-style: none;}

